
<footer class="footer">
    <div class="main-content">
        <div class="row">
            <!-- column 1 -->
            <div class="column">
                <img src="/static/img/logo-white.svg" alt="Lesson." class="logo">
                <p class="desc">Need to help for your dream Career? trust us. With Lesson, study becomes a lot
                    easier with us.</p>
                <div class="socials">
                    <a href="">
                        <img src="/static/icon/twitter.svg" alt="twitter" class="icon">
                    </a>
                    <a href="">
                        <img src="/static/icon/fb.svg" alt="facebook" class="icon">
                    </a>
                    <a href="">
                        <img src="/static/icon/linkedin.svg" alt="linkedin" class="icon">
                    </a>
                    <a href="">
                        <img src="/static/icon/instagram.svg" alt="instagram" class="icon">
                    </a>
                </div>
            </div>
            <!-- column 2 -->
            <div class="column">
                <h3 class="title">Company</h3>
                <ul class="list">
                    <li>
                        <a href="#!">About Us</a>
                    </li>
                    <li>
                        <a href="#!">Features</a>
                    </li>
                    <li>
                        <a href="#!">Our Pricing</a>
                    </li>
                    <li>
                        <a href="#!">Latest News</a>
                    </li>
                </ul>
            </div>
            <!-- column 3 -->
            <div class="column">
                <h3 class="title">Support</h3>
                <ul class="list">
                    <li>
                        <a href="#!">FAQ’s</a>
                    </li>
                    <li>
                        <a href="#!">Terms & Conditions</a>
                    </li>
                    <li>
                        <a href="#!">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#!">Contact Us</a>
                    </li>
                </ul>
            </div>
            <!-- column 4 -->
            <div class="column">
                <h3 class="title">Address</h3>
                <ul class="list">
                    <li>
                        <a href="#!"><strong>Location:</strong> 27 Division St, New York, NY 10002, USA</a>
                    </li>
                    <li>
                        <a href="#!"><strong>Email:</strong> email@gmail.com</a>
                    </li>
                    <li>
                        <a href="#!"><strong>Phone:</strong> + 000 1234 567 890</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="copyright">
            <p>Copyright ©2022 webdesign.gdn All rights reserved</p>
        </div>
    </div>
</footer>