<h1>{{ site.Title }}</h1>
{{ partial "menu.html" (dict "menuID" "main" "page" .) }}
<link rel="stylesheet" href="/assets/css/reset.css">

    <link rel="stylesheet" href="/assets/css/main.css">
<header class="header fixed">
    <div class="main-content">
        <div class="body">
            <!-- logo -->
            <img src="/static/img/logo.svg" alt="Lesson." class="logo">
            <!-- nav -->
            <nav class="nav">
                <ul>
                    <li class="active">
                        <a href="#!">Home</a>
                    </li>
                    <li>
                        <a href="#!">Courses</a>
                    </li>
                    <li>
                        <a href="#!">Pricing</a>
                    </li>
        ,            <li>
                        <a href="#!">Reviews</a>
                    </li>
                </ul>
            </nav>
          
            <div class="action">
                <a href="#!" class="btn btn-sign-up">Sign Up</a>
            </div>
        </div>
    </div>
</header>